.message {
    padding: 10px;
    margin: 10px;
    width: fit-content;

}

.message__user {
    margin-left: auto;
    color: white;
    text-align: left !important;
}

.user__card {
    background-color: #81438d !important;
}

.guest__card {
    background: white !important;
}